
.singleComparison {
  display: flex;
}
.singleComparison > div {
  background-color: white;
  flex: 30% 1 1;
}
.singleComparison div:first-child {
  text-align: right;
  padding-right: 1rem;
}
.singleComparison div:last-child {
  text-align: left;
  padding-left: 1rem;
}

.singleComparison .comparisons {
  padding: 0.5rem 0;
  background-color: lightgrey;
  flex: max-content 0 0;
  box-sizing: border-box;
  display: flex;

  .comparison {
    padding: 0 0.6rem;
  }
}

.singleComparison.header .comparisons {
  background-color: unset;
}
