// HEADER
.singleComparison.header {
  //padding: 1rem 0;
  //background-color: rgba(118, 118, 118, 0.3);
  //border: 1px solid rgba(118, 118, 118, 0.3);
  font-weight: 700;
}

.singleComparison {
  display: flex;
  padding: 0.25rem 0;
}

.singleComparison > div {
  flex: 30% 1 1;
}

.singleComparison > div:first-child {
  text-align: right;
  padding-right: 1rem;

  input {
    text-align: right;
  }
}

.singleComparison > div:last-child {
  text-align: left;
  padding-left: 1rem;

  input {
    text-align: left;
  }
}

.singleComparison > div:last-child input, .singleComparison > div:first-child input {
  width: 100%;
  padding: 0.1rem 0.45rem;
}

.singleComparison .comparisons {
  flex: 40% 1 1;
  display: flex;
  justify-content: space-evenly;

  .comparison {
    flex: auto 0 0;
    justify-content: center;
    text-align: center;
    padding: 0 0.6rem;

    input[type='radio'] {
      transform: scale(1.5);
    }

  }
}

.comparisons *, .comparisons {
  box-sizing: content-box;
}

