.comparison.criteriaToObject {
  margin-bottom: 1.5rem;
}

.criteria {
  font-weight: 700;
}

#ua-criterias {
  .accordion-button {
    padding: 0.75rem;
  }

  .scale.desktop.collapse:not(.show) {
    display: none !important;
  }

  .scale .headers {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;

    > * {
      flex: 100% 0 0;
    }

    .header {
      text-align: right;
    }

    .checkbox {
      max-width: 20px;
      text-align: center;
      padding: 0;
    }
  }
}