
nav {
  z-index: 500 !important;
  grid-area: nav;
}

nav .dropdown-menu .dropdown-item.active,
nav .dropdown-menu .dropdown-item.active *,
nav .dropdown-menu .dropdown-item:active,
nav .dropdown-menu .dropdown-item:active * {
  color: white;
}