@import "src/themes";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 10000000;
}

// SPINNER
.loader .spinner {
  width: 12vh;
  height: 12vh;
  border-width: 0.5vh;
}

// TEXT
.loader .text:empty {
  margin-left: 0 !important;
}

.loader .text {
  margin-left: 0.25rem;
}

// ALIGNMENTS
.loader.center {
  justify-content: center;
  align-items: center;
}

.loader.left {
  justify-content: flex-start;
  align-items: center;
}

.loader.right {
  justify-content: flex-end;
  align-items: center;
}

// DARK
.loader.dark {
  color: #b6b6b6;

  @include theme() {
    background-color: get("style-color");
  }
}

.loader.dark .spinner {
  border-color: #b6b6b6;

  @include theme() {
    border-right-color: get("style-color");
  }
}

// LIGHT
.loader.light {
  background-color: #d3d3d3;

  @include theme() {
    color: get("style-color");
  }
}

.loader.light .spinner {
  border-right-color: #d3d3d3;

  @include theme() {
    border-color: get("style-color");
  }
}

// TRANSPARENT
.loader.transparent {
  background-color: transparent !important;
}

.loader.transparent .spinner {
  border-right-color: transparent !important;
}

// FULLSCREEN
.loader.fullscreen {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 0;
}

// LOADED
.loaded {
  height: auto;
  display: none;
}

// ANIMATE
.loaded.animate {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  animation: hide;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hide {
  to {
    height: 0;
    padding: 0;
    visibility: collapse;
    display: none;
    overflow: hidden;
    z-index: -10000000;
  }
}