.save-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.save-body {
  padding: 0.8rem 0.8rem;
}

.save-card:hover {
  background-color: var(--bs-gray-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.count-display{
  position: relative;
}

.count-display-text{
  position: absolute;
  bottom: 0;
}

.count-display-sort {
  position: absolute;
  bottom: 0;
  right: 0;
}
