@import "src/themes";


.controlFooter.show {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.controlFooter {
  display: none !important;
  justify-content: space-evenly;
  align-items: center;

  @include theme() {
    background-color: get("control-footer-bg-color");
    color: get("text-color");
  }

  .item {
    flex: auto 0 0;
    text-align: center;
    padding: 1rem 0.5rem;
  }

  .item button, .item a {
    cursor: pointer;
  }

  .item button:disabled {
    color: #696969 !important;
  }

  .item button:disabled * {
    color: #696969 !important;
  }

  .item:empty {
    padding: 0 !important;
    display: none;
  }

  button {
    text-decoration: none;

    @include theme() {
      color: get("text-color");
    }
  }

  > * {
    font-size: 10pt;
  }

  svg {
    font-size: 12pt;
    display: block;
    margin: auto;
  }
}
