
#port-criterias h5, #port-weighting h5, #port-evaluation h5 {
  margin: 1rem 0 1rem 0;
  font-size: 13pt;
  font-weight: 600;
}

#port-evaluation {
  .evaluation {
    margin-bottom: 1rem;
  }

  h6.compare-header {
    margin: 1rem 0 1rem 0;
    font-size: 13pt;
    font-weight: 600;
  }
}

#port-result .tables {
  margin-top: 1rem;
}

#port-criterias{
  .scale .headers {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;

    > * {
      flex: 100% 0 0;
    }

    .header {
      text-align: right;
    }

    .checkbox {
      max-width: 20px;
      text-align: center;
      padding: 0;
    }
  }
}
