.save-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.save-body {
  padding: 0.8rem 0.8rem;
}

.save-card:hover {
  background-color: var(--bs-gray-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.count-display{
  position: relative;
  // 1rem * 1.5 <- line-height
  // 0.75rem <- padding of pagination items
  // 2px <- border of pagination items
  height:calc(1rem * 1.5 + 0.75rem + 2px)
}

.count-display-text,.count-display-sort{
  position: absolute;
}

.count-display-text{
  left:0;
  bottom:0;
}

.count-display-sort {
  right: 0;
  bottom: 0;
}


