.flex-container{
  display: flex;
}


//-----------------------------------------------------

.page {
  display: grid;
  width: min-content;
  height: min-content;
  grid-template-areas: "head head" "nav  main";
}

.page>.grid-head {
  grid-area: head;
  grid-column: 2;
}

.page > .grid-left {
  grid-area: nav;
}

.page>.grid-container {
  grid-area: main;
}


.grid-head {
  display: flex;
}


.grid-left {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 44px);
  grid-template-columns: repeat(auto-fit, 44px);
}

.grid-head>div .grid-left>div {
  flex-shrink: 0;
}

.grid-head>div,
.grid-left>div {
  text-align: center;
  margin: 7px;
  height: 30px;
  width: 30px;
  text-align: center;
}

.grid-container > div {
  display: inline-block;
  
  border: 1px solid black;
  border-radius: 5px;
  margin-left:5px;
  margin-top: 1px;
  height: 30px;
  width: 30px;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}

