@import "~bootstrap/scss/bootstrap-utilities";
@import "/src/themes.scss";

.save {
  transition: background-color 0.3s ease-out;
  position: relative;
}

.save.disabled {
  pointer-events: none;

  * {
    pointer-events: none;
  }

  .deleting {
    opacity: 1;
  }
}

.save-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.save-body {
  padding: 0.8rem 0.8rem;

  .created-date.desktop {
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
  }

  .card-title {
    @include theme() {
      color: get("style-color");
    }
  }
}

.save-card-dummy {
  cursor: default;
  user-select: none;
}

.save .button-panel {
  position: absolute;
  right: 0.5rem;
  top: 0;
}

.dummy {
  display: inline-block;
  border-radius: 5px;

  @include theme() {
    background-color: darken(get("card-bg-color"), 2%) !important;
    color: darken(get("card-bg-color"), 2%) !important;
  }
}

