@import "~bootstrap/scss/bootstrap-utilities";

.save {
  transition: background-color 0.3s ease-out;
  position: relative;
}

.save.disabled {
  pointer-events: none;

  * {
    pointer-events: none;
  }

  .save-card {
    opacity: 0.80;
    background-color: #e1e1e1;
  }

  .deleting {
    opacity: 1;
  }
}

.save-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.save-body {
  padding: 0.8rem 0.8rem;
}

.save-card:hover {
  background-color: var(--bs-gray-200);
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.save-card-dummy {
  cursor: default;
  user-select: none;
}

.save .button-panel {
  position: absolute;
  right: 0.5rem;
  top: 0;
}

.dummy {
  display: inline-block;
  color: #eeeeee;
  background-color: #eeeeee;
  border-radius: 5px;
}

