@import "~bootstrap/scss/bootstrap-utilities";
@import "/src/themes.scss";

.save {
  transition: background-color 0.3s ease-out;
  position: relative;
  overflow: hidden;
}

.save.disabled {
  pointer-events: none;

  * {
    pointer-events: none;
  }

  .deleting {
    opacity: 1;
    float: right;
    position: absolute;
    top: 15px;
    right: 10px;
    color: #efefef;
    border: 1px darken($danger, 10%) solid;
    border-radius: 0.25rem;
    padding: 0.5rem;
    background-color: $danger;
    font-size: 11pt;
    font-weight: 600;
  }
}

.save-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.save-body {
  padding: 0.8rem 0.8rem;
}

.save-card-dummy {
  cursor: default;
  user-select: none;
}

.save .deleteSave {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 0.25rem 0.75rem;
}

.dummy {
  display: inline-block;
  border-radius: 5px;

  @include theme() {
    background-color: darken(get("card-bg-color"), 2%);
    color: darken(get("card-bg-color"), 2%);
  }
}

