@import "/src/themes.scss";



.dragClone .actionCard {
  transform: rotate(3deg);
}

.dragClone .card-body {
  padding: 0.25rem 0.75rem;
}

.alternative-actions {
  .progressBar .progress-bar {
    @include theme() {
      background-color: get("style-color");
    }
  }
}

.uploadImage_actions{
overflow: auto;
overflow-x: hidden;
}


.getBorder{
  border: none;
  width: 65%;
  height: 70%;
  position: absolute;
  right: 430px;
  padding-left: 60px;
  overflow: auto;
  overflow-x: hidden;
}
.getBorderPhone{
  border: none;
  width: 100%;
  height: 80%;
 text-align: center;
  padding-left: 30px;
  overflow: auto;
  overflow-x: hidden;

}
.getBorderPhone .baseInfoItem{
  table-layout:fixed; 
  word-break:break-all;
  overflow:hidden; 
   
}
.getBorderPhone .head{
  font-size: 10px;
}
.getBorderPhone .text{
  font-size: 10px;
}
.getBorderPhone .icons{
  font-size: 0px;
}
.childBox{
  border: 2px solid #A6AAA9;
  overflow: auto;
  overflow-x: hidden;
  height: 100px;
  margin-right: 5px;
  height: 302px;
  word-break: break-all;
}
.langBox{
  height: 630px;
}
 .untenChild{
 position: relative;
 top: 26px;
 border: 0px solid none;
}
.withoutBorder{
  border:0px solid white !important;
}
.descriptBox{
position: relative;
top: 10px;
height: 200px;
width: 47% !important;
}
#titel{
  font-weight: 600;
 position: relative;
 right: 260px;
 bottom: 10px;
}

.personaBild{
width: 80%;
height: 30%;
margin:20px 0 20px 18px;
}
.personaBildPhone{
  width: 100px;
  height: 150px;
  margin:20px 0 20px 6px;
  }
.vollname{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.baseInfoItem{
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  color: #247BCD;
  overflow: auto;
  overflow-x: hidden;

}
 .head {
  
word-wrap:break-word; 
word-break:break-all;
font-weight: 600;
margin-bottom: 20px;
font-size: 12px;
text-align: right;
}
.text{
  color: #247BCD;
  text-align: left;
  table-layout:fixed; 
  word-break:break-all;
  overflow:hidden; 
  word-wrap: break-word;
  font-size: 12px;
}
.icons{
  font-size: 20px;
  margin:5px 0 0  0;
  color: #A6AAA9 !important;
  display: inline-block;
  
}
.zitatZiel{
position: relative;
right: 60px;

}
.hobby{
  position: relative;
  right: 20px;

}
.station{
  position: relative;
  right: 20px;
}
.prob{
  position: relative;
  right: 35px;

}
.diff{
  position: relative;
  right: 5px;
}
.motiv{
  position: relative;
  right: 110px;
}
.extra{
  position: relative;
  right: 70px;
}
.box{
  height: 100px;
  width: 100px;    
}
.myborder{
  border: 5px solid black;
}
.childBox::-webkit-scrollbar {
  width: 5px;
}
.childBox::-webkit-scrollbar-thumb{
background-color:#A6AAA9;
  }

