
footer.fixed * {
  color: black;
  text-decoration: none;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  background-color: #f8f9fa;
}

footer.fixed > * {
  cursor: pointer;
  font-size: 10pt;
}

footer.fixed svg {
  font-size: 12pt;
  display: block;
  margin: auto;
}