@import "~bootstrap/scss/bootstrap-utilities";

@include media-breakpoint-up(lg) {

  .tools {
    justify-content: flex-start;
    align-items: flex-start;

    .tool {
      align-items: center;
      padding-left: 3rem;
      padding-right: 3rem;
      min-width: 20%;
      max-width: 20%;

      .text {
        flex: 0 0 20%;
        padding: 1rem 0.25rem 0 0.25rem;
        font-size: 12pt;
      }

      .icon {
        max-width: 50%;
      }

      .icon svg {
          font-size: 150%;
        }
      }
    }
}