@import "/src/themes.scss";

.persona-info-shower {
  margin-top: 0.5rem;
  display: inline-block;

  .name {
    border-radius: 0.35rem 0.35rem 0 0;
    margin-bottom: -1px;
  }

  .info {
    border-radius: 0 0 0.35rem 0.35rem;
    margin-top: -1px;
  }

  .name, .info {
    padding: 0.5rem 0.75rem;

    @include theme() {
      background-color: get("step-tab-bg");
      color: get("step-tab-color");
    }
  }

  .image {
    height: 100%;
    width: auto;

    max-height: 300px;
    max-width: 100%;

    border-radius: 0;
    border: none;

    @include theme() {
      background-color: get("step-tab-bg");
    }
  }
}