@import "src/scss/colors";

.passwordEye {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  cursor: pointer;
}

.passwordEye svg {
  color: white !important;
  font-size: 14pt;
}