
.collaborators-table {
  tbody, thead {
    display: block;
  }

  tbody {
    max-height: 285.6px;
    overflow-y: auto;
  }

  tr {
    display: flex;

    td, th {
      flex: 50% 1 1;
    }
  }

}