@import "../../../../scss/variables/variables";
@import "../../../../../node_modules/bootstrap/scss/bootstrap-utilities";

@include media-breakpoint-up(xl) {
  .stepContainer > .stepTabContainer {
    flex: 0 1 30%;
    order: 2;
  }

  .stepHeader {
    border-left: 2px solid $color;
  }

  .stepTabContainer {
    top: 0;
  }

  .stepContainer > .tabsContent {
    flex: 0 1 70%;
    order: 1;
  }

  .stepTabs > .nav-item {
    flex: 1 1 100%;
    text-align: left;
  }

}
