@import "/src/scss/variables/variables";

$tabColor: #6e6e6e;

.stepTabContainer * {
  word-break: break-all;
}

.stepTabContainer {
  top: -0.75rem;
  background-color: $bgColor;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  align-self: flex-start
}

.stepContainer > .stepTabContainer, .stepContainer > .tabsContent {
  flex: 1 1 100%;
}
.stepContainer .tabsContent {
  padding-bottom: 2rem;
}

.stepTabs > .nav-item {
  flex: 1 1 auto;
  text-align: center;
  background-color: darken($tabColor, 15%); //#888484 darken(#e6e6e6, 5%)
  color: white; //white
  margin: 1px;
  border: none;
  cursor: pointer;
}

.stepTabs > .nav-item.disabled {
  background-color: darken($tabColor, 15%); //$tabColor or darken($tabColor, 15%)
  opacity: 0.5;
  color: black;
}

.stepTabs > .nav-item:hover {
  background-color: darken($tabColor, 20%) !important;
  color: white;
}

.stepTabs > .nav-item.active {
  background-color: $color !important; //
  color: white !important;
}

.stepTitle {
  flex: 1 1 auto;
  font-size: 12pt;
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 0.75rem;
}

