@import "/src/themes";

.stepTabContainer * {
  word-break: break-all;
}

.stepTabContainer {
  top: -0.75rem;
  position: sticky;
  position: -webkit-sticky;
  z-index: 100;
  align-self: flex-start;

  @include theme() {
    background-color: get("bg-color");
  }
}

.stepContainer > .stepTabContainer, .stepContainer > .tabsContent {
  flex: 1 1 100%;
}

.stepContainer .tabsContent {
  padding-bottom: 2rem;
}

.stepTabs > .nav-item {
  flex: 1 1 auto;
  text-align: center;
  margin: 1px;
  border: none;
  cursor: pointer;

  @include theme() {
    color: get("step-tab-color");
    background-color: get("step-tab-bg");
  }
}

.stepTabs > .nav-item.disabled {
  opacity: 0.42;

  @include theme() {
    color: get("step-tab-color");
    background-color: get("step-tab-bg");
  }
}

.stepTabs > .nav-item:hover {
  @include theme() {
    color: get("step-tab-hover-color") !important;
    background-color: get("step-tab-hover-bg") !important;
  }
}

.stepTabs > .nav-item.active {
  @include theme() {
    color: get("step-tab-active-color") !important;
    background-color: get("step-tab-active-bg") !important;
  }
}

.stepTitle {
  flex: 1 1 auto;
  font-size: 13pt;
  font-weight: 600;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-bottom: 0.75rem;
}

