@import "src/themes";

.input-group, .addCard {
  margin-top: 5px;
}

.addCard {
  transition: 0.2s;
  cursor: pointer;

  @include theme() {
    background-color: darken(get("bg-color"), 10%);
  }

  :hover {
    @include theme() {
      background-color: darken(get("bg-color"), 17%);
    }
  }

  * {
    color: white !important;
    transition: 0.2s;
  }

  .icon {
    text-align: center;
  }

  .card-body {
    padding: 0.375rem 0.75rem;
  }
}

.addCard.disabled {
  opacity: 0.4;
}

.input-group {
  input {
    border-left: none;
  }

  .id.disabled {
    @include theme() {
      background-color: adjust-color(get("input-bg-color"), $alpha: -0.6);
      border-color: adjust-color(get("input-border-color"), $alpha: -0.3);
    }
  }

  .id {
    border: 1px solid;
    border-right: none;
    padding: 0.375rem 0.5rem;

    @include theme() {
      background-color: get("input-bg-color");
      border-color: get("input-border-color");
    }
  }

  .id:empty {
    display: none;
    padding: 0 !important;
  }

  button.noButton {
    border: 1px solid;
    border-left: none;

    @include theme() {
      border-color: get("input-border-color");
      background-color: get("input-bg-color");
      color: get("style-color") !important;
    }

    > svg {
      @include theme() {
        color: get("text-color") !important;
      }
    }
  }

  button.noButton:hover {
    @include theme() {
      background-color: darken(get("input-bg-color"), 2%);
    }
  }

}