@import "~bootstrap/scss/bootstrap-utilities";
@import "src/themes";


#leftBio{
  background-color: white;
}

#leftBio img{
  border-radius: 200px !important;
  width: 200px;
  height: 200px;
  margin: 20px 20px 30px 23px;
}

#leftBio ul{
  margin-bottom:200px ;
  font-weight: 600;
}
#characterButtons div{
  margin: 0px 10px 10px 10px;
  padding: 3px 10px 0px 10px;
  background-color: #22007C;
  height: 30px;
  color: white;
  border: 1px solid black;
  font-size: 14px;
  display: inline-block;
  border-radius: 3px;
}
#characterButtons{
  text-align: center;
  word-break: break-all;
  padding-bottom: 30px;
}
#mainPersonaPdf{
 
  text-align: center;
  display: none;
}
.baseInfo span{
padding-right:50px;
font-size:20px;
}
.baseInfo {
  position: relative;
  top: 30px;
}
#profibild{
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  border: 2px solid #22007C;
  margin-top: 40px;
}
.isNone{
  display: block !important;
}
.isBlock{
  display: none !important;
}