@import "/src/themes.scss";

#persona-info {
  .avatar-preview {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    .avatar {
      max-height: 400px;
      max-width: 100%;
      border: 4px solid;

      @include theme() {
        border-color: get("form-bg-color");
      }
    }
  }
}