@import "/src/themes.scss";

#persona-info {
  .avatar-preview {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    .avatar {
      max-height: 300px;
      max-width: 100%;
    }
  }
}

#persona-personality {
  fieldset {
    margin-bottom: 1.5rem;
  }
}

#persona-summary {
  .avatar-container {
    display: flex;
    border-radius: 0.25rem 0.25rem 0 0;
    border: 1px solid #d9d9d9;
    padding: 0.35rem;
    justify-content: center;
    align-content: center;
    background-color: white;
  }

  .avatar {
    max-height: 300px;
    max-width: 100%;
    display: inline-block;
  }

  .names {
    background-color: white;
    border-radius: 0 0 0.25rem 0.25rem;
    border: 1px solid #d9d9d9;
    font-size: 12pt;
    border-top: none;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color: #171717;
  }
}