@import "/src/themes.scss";

#persona-info {
  .avatar-preview {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;

    .avatar {
      max-height: 300px;
      max-width: 100%;
    }
  }
}