@import "./src/scss/variables";

@import "~bootstrap/scss/bootstrap-utilities";

@include media-breakpoint-up(xl) {

  .stepContainer > .stepTabContainer {
    flex: 0 1 30%;
    order: 2;
  }

  .stepContainer > .tabsContent {
    flex: 0 1 70%;
    order: 1;
  }

  .stepTabs > .nav-item {
    flex: 1 1 100%;
    text-align: left;
  }

  .stepHeader {
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    font-size: 13pt;
    border-left: 2px solid $color;
  }

  .stepTabs > .nav-item {
    margin-bottom: 0.25rem;
  }

}