
.grid-overlay.BCG, .grid-overlay.quadrants {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  > div {
    font-size: 9pt;
    color: #939393;
    text-transform: uppercase;
    display: flex;
    padding: 1rem;
    letter-spacing: 2px;
  }

  > div.ul {
    justify-content: flex-start;
    align-items: flex-start;
  }

  > div.ur {
    justify-content: flex-end;
    align-items: flex-start;
  }

  > div.bl {
    justify-content: flex-start;
    align-items: flex-end;
  }

  > div.br {
    justify-content: flex-end;
    align-items: flex-end;
  }
}