
.grid-overlay.BCG {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  > div {
    font-size: 9pt;
    color: #939393;
    text-transform: uppercase;
    display: flex;
    padding: 1rem;
    letter-spacing: 2px;
  }

  > div.qm {
    justify-content: flex-start;
    align-items: flex-start;
  }

  > div.stars {
    justify-content: flex-end;
    align-items: flex-start;
  }

  > div.pd {
    justify-content: flex-start;
    align-items: flex-end;
  }

  > div.cc {
    justify-content: flex-end;
    align-items: flex-end;
  }
}