@import "scss/variables";
@import "~bootstrap/scss/bootstrap";

@import "scss/loader";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgColor;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  z-index: 1000000;
}

#root {
  display: grid;
  grid-template-areas:
    "nav"
    "content";
  grid-template-rows: auto 1fr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

svg {
  color: $color;
}

#content {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.form-group {
  z-index: 1;
}