@import "/src/themes.scss";

$feedbackAlpha: -0.8;
$feedbackColorDarken: 5%;

.feedbackContainer:empty {
  margin: 0 !important;
}

.feedbackContainer.sm {
  font-size: 11pt;
}

.feedbackContainer {
  margin: 0.5rem 0.25rem;
  font-size: 12pt;

  .feedback {
    padding: 0.5rem 1rem;
    border-left: 5px solid;

    svg {
      vertical-align: middle;
    }

    @include theme() {
      color: get("color");
      border-left-color: get("color");
      background-color: get("color");
    }
  }

  .feedback.DANGER {
    color: $danger !important;
    border-left-color: $danger !important;
    background-color: adjust-color($danger, $alpha: $feedbackAlpha);

    > svg {
      color: $danger !important;
    }
  }

  .feedback.SUCCESS {
    color: $success !important;
    border-left-color: $success !important;
    background-color: adjust-color($success, $alpha: $feedbackAlpha);

    > svg {
      color: $success !important;
    }
  }

}