@import "variables/variables";
@import "~bootstrap/scss/bootstrap-utilities";

$feedbackAlpha: -0.8;
$feedbackColorDarken: 10%;

.feedbackContainer:empty {
  margin: 0 !important;
}
.feedbackContainer.sm {
  font-size: 11pt;
}

.feedbackContainer {
  margin: 0.5rem 0.25rem;
  font-size: 12pt;

  .feedback {
    padding: 0.5rem 1rem;
    border-left: 5px solid $color;
    background-color: adjust-color($color, $alpha: $feedbackAlpha);
    color: $color;
  }

  .feedback.DANGER {
    color: darken($danger, $feedbackColorDarken) !important;
    border-left-color: $danger !important;
    background-color: adjust-color($danger, $alpha: $feedbackAlpha);
  }

  .feedback.SUCCESS {
    color: darken($success, $feedbackColorDarken) !important;
    border-left-color: $success !important;
    background-color: adjust-color($success, $alpha: $feedbackAlpha);
  }

}