@import "variables/variables";
@import "~bootstrap/scss/bootstrap-utilities";

.feedbackContainer {

  .feedback {
    padding: 0.25rem 0;
    border-radius: 15px;
  }

  .feedback.DANGER {
    color: $danger !important;
  }

  .feedback.SUCCESS {
    color: $success !important;
  }

}