@import "variables";

#loader {
  position: relative;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 10000000;
}

.loader.dark {
  background-color: darken($color, 6%);
  color: white;
}

.loader.fullscreen {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: darken($color, 6%);
}

.loader .spinner {
  margin-right: 1rem;
  width: 15vh;
  height: 15vh;
  border-width: 0.5vh;
}

.loader.dark .spinner {
  border-color: white;
  border-right-color: darken($color, 6%);
}

.loaded {
  opacity: 0;
  transition: opacity 0.5s;
  animation: hide;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hide {
  to {
    visibility: collapse;
    display: none;
    overflow: hidden;
    z-index: -10000000;
  }
}