
.modal-dialog {
  max-width: 100vw;
  max-height: 100vh;
}

.modal-body {
  overflow-y: auto;
}

.second-modal {
  z-index: 1075 !important;
}

body .second-modal-backdrop {
  z-index: 1070 !important;
}

.third-modal {
  z-index: 1085 !important;
}
body .third-modal-backdrop {
  z-index: 1080 !important;
}