.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  z-index: 10001;
  padding: 0 0.5rem;
  width: max-content;
  max-width: 100vw;

  .message {
    flex: 0 0 100%;
    position: relative;
    border: 1px solid #bebebe;

    .close {
      position: absolute;
      top: -7px;
      right: 2px;
      background-color: transparent;
      border-color: transparent;
      font-size: 19pt;
    }
  }
}

// ALIGNMENTS
// --> Y
// TOP
.messages.top {
  top: 0;
}

// MIDDLE
.messages.middle {
  top: 50%;
  transform: translateY(-50%);
}

// BOTTOM
.messages.bottom {
  bottom: 0;
}

// --> X
// LEFT
.messages.left {
  left: 0;
}

// CENTER
.messages.center {
  left: 50%;
  transform: translateX(-50%);
}

// RIGHT
.messages.right {
  right: 0;
}