
.messagesContainer {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1000;
}

// ALIGNMENTS
// --> Y
// TOP
.messagesContainer.top {
  align-items: flex-start;
}

// MIDDLE
.messagesContainer.middle {
  align-items: center;
}

// BOTTOM
.messagesContainer.bottom {
  align-items: flex-end;
}

// --> X
// LEFT
.messagesContainer.left {
  justify-content: flex-start;
}

// CENTER
.messagesContainer.center {
  justify-content: center;
}

// RIGHT
.messagesContainer.right {
  justify-content: flex-end;
}

.messages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  padding: 0 0.75rem;

  .message {
    flex: 0 0 100%;
    position: relative;
    border: 1px solid #bebebe;

    .close {
      position: absolute;
      top: -7px;
      right: 2px;
      background-color: transparent;
      border-color: transparent;
      font-size: 19pt;
    }
  }
}

.messages,
.messages * {
  z-index: 10000000000000;
}