.wrapper {
    text-align: center;
}

.wrapper h1 {
    margin: 40px 0;
    font-size: 2.5rem;
}

.wrapper h2 {
    margin: 40px 0;
    font-size: 2rem;
}

.wrapper img {
    width: 300px;
    max-width: 75%;
}

.wrapper h4{
    margin: 40px 0 20px;
    font-size: 1.2rem;
}

.main-btn {
    padding: 15px;
    background-color: #060139;
    color: #e6e6e6;
    border: none;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: pointer;
}